* {
  box-sizing: border-box;
}

.wrapper .search {
  margin: 0 auto;
  width: 600px;
  background-color: lightblue;
  height: 100vh;

}

div {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}